.chat-card__container {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    // margin-left: 30px;
    background-color: #1B1D21;
    background-image: url('../components/svg/polygon-scatter-haikei.svg');
    background-position: bottom;
    background-repeat: repeat-y;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // margin-right: 10px;
    padding-inline: 18px;


.chat__top {
    display: flex;
    width: 93%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid rgba(75, 75, 75, 0.3);
    background-color: #6d5dd4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 10px 10px;
    // box-shadow: rgba(106, 0, 204, 0.4) -2px 2px;

    h1 {
        color:white;
        margin-inline: 5px;
    }
    p {
        color:black;
        margin-inline: 5px;

    }
    .chat__header {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // border: 2px solid green;
        // background-color: #232630;
        border-radius: 10px;
        padding: 10px;
        // border: 1px solid blue;
        margin-bottom: 35px;

        img {
            width: 35px;
            margin-inline: 10px;
            transition: transform 0.1s ease-in-out;
            &:hover {
                transform: scale(0.9);
                cursor: pointer;
            }
        }
    }
    .chat__filter-buttons {
        display:flex;
        flex-direction: row;
        align-items: center;
        // border: 1px solid #9c88ff;
        background-color: white;
        border-radius: 12px;
        padding: 5px;
        text-align: center;

        p {
            padding-block: 6px;
            padding-inline: 10px;
            // background-color: #b3a6ff;
            border-radius: 10px;
            &:hover {
                cursor: pointer;
                // opacity: 0.7;
                background-color: #b3a6ff;
            }
        }
    }

}


 .chatlist__container {
    // flex-grow: 1;
    width: calc(100% - 30px);
    max-height: 100%;
    height: auto;
    border: 2px solid rgba(75, 75, 75, 0.3);
    // border: 2px solid white;
    margin-block: 20px;
    background-color: rgb(35, 38, 48);
    // padding-bottom: 20px;
    padding: 15px;
    border-radius:10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 5px;

    .card__container {
        outline : 3px solid rgba(205, 89, 255, 0.5);
        width: calc(100% - 30px);
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding:8px;
        align-content: center;
        border-radius: 5px;
        // transition: all 0.1s ease-in-out;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
            outline: 1px solid rgba(140, 122, 230);
            // background-color: #292929;
            // outline: 2px solid rgba(205, 89, 255, 0.8);
        }
        .chat-details__wrapper {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;

        // > * {
        //     pointer-events: none;
        // }

        .profile__card {
            // border: 1px solid rgba(158, 66, 197, 0.8);
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;

            


            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                pointer-events: none;
            }

            .status {
                width: 20px;
                height: 20px;
                // border: 2px solid red;
                display: none;
                position: relative;
                border-radius: 50%;
      
                background-color:  #121212;
            }

             .Offline, .Online {
                display: flex;
                position: relative;
                bottom: 20px;
                left: 45px;
                width: 16px;
                height: 16px;
                background-color: #121212;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 3px solid #303537;

            }

            .Offline {
                display: flex;
                // background-color: #f5f6fa;
                // box-shadow:inset 0px 0px 0px 6px rgb(31, 31, 31);

                
            }

            .Online {
                display: flex;
                background-color: green;
                // border: 2px solid green;

                
            }
        }

        h1 {
            font-size: 1.1rem;
            // color: black;
        }
       
        .inner-card {
            // border: 2px solid green;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            flex-grow: 1;
            justify-content: center;

            .card-title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 0.8rem;

                .time-bar {
                    display: flex;
                    flex-direction: row;
                    
                    // p {
                    //     color: black;
                    // }
                }
            }

        .details__card {
            // border: 2px solid black;
            display: flex;
            width: 100%;
            margin-top: 3px;
            // margin-inline: 20px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // width: auto;
            span {
                margin-right: 5px;
                height: 20px;           
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;

                font-size: 0.8rem;
                background-color: #fa7248;
                text-align: center;
                border-radius: 50%;
            }
            p{
                font-size: 0.9rem;
       
                width: 14em;
                overflow: hidden; 
                white-space: nowrap; 
                text-overflow: ellipsis;
                // margin-right: 5px;
                // border: 2px solid red; 
            }

        
            
        }
    }


    }

    img {
        width: 15px;
        height: 15px;
        object-fit: contain;
        transition: transform 0.1s ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(0.9);
        }
    }
}
    .card__container.false { //Notificatons styling
        background-color: #6c5cd1;
        transition: outline 0.1s ease-in-out;
        p, h1 {
            color: white;
        }
        &:hover {
             outline: 2px solid #8c7ae6;
        }
        // outline: 1px solid rgba(205, 89, 255, 0.8);
    }

    .card__container.true {
        // background-color: #D2C9E3;
        background-color:  #2b2d30;
        // background-color: #27292b; //darker
        outline: 1px solid rgba(140, 122, 230, 1);
        // background-color: #B7B3D6;   
         h1 {
            color: #6d5dd4;
        }
        p {
            color: white;
        }     

    }
}
.delete-chatlist {
    position: absolute;
    height: 30px;
    border-radius: 7px;
    background-color: #2f3640;
    z-index: 999;

    &:hover {
        cursor: pointer;

    }
    p{
        padding: 7px;
        font-size: 0.8rem;
        color:white;
    }
}
}