*::-webkit-scrollbar {
    width: 10px;
    display:none;
  }
.chat-box__container {
    width: calc(100% - 400px);
    height: 95%;
    border-radius: 14px;
    outline: 1px solid #2f3640;
    background-color: #f5f6fa;
    margin-inline: 30px;
    margin-block: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    *::-webkit-scrollbar-thumb {
        background-color: #718093;
        border-radius: 2px;
        // border: 0px solid #ffffff;
      }

    h1 {
        color: black;
        width: 20em;
        border: 2px solid black;
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

    .chat__header{
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        
        // align-items: center;
        // justify-content: end;
        // padding-block: 10px;

        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .chat__banner {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
            background-color: white;
            border-bottom: 1px solid black;
            
            // padding: 5px;

            .profile__card {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin-left: 25px;
    
                
    
    
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
    
                .status {
                    width: 20px;
                    height: 20px;
                    // border: 2px solid red;
                    display: none;
                    position: relative;
                    left: 45px;
                    bottom: 35px;
                    border-radius: 50%;
          
                    background-color:  #121212;
                }
    
                 .Offline, .Online {
                    display: flex;
                    position: relative;
                    bottom: 25px;
                    left: 45px;
                    width: 25px;
                    height: 25px;
                    background-color: #121212;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    // border: 2px solid #121212;
    
                }
    
                .Offline {
                    
                    .inner {
                        width: 40%;
                        height: 40%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 2px solid grey;
              
                    }
                }
    
                .Online {
                    .inner {
                        width: 40%;
                        height: 40%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 2px solid green;
                        background-color: green;;
              
                    }   
                }
            }

            .header-details {
                width: 95%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 15px;
                // border: 2px solid blue;
                // transition: all 0.3s ease-in-out; 
            
                h1 {
                    font-size: 18px;
                }
            
                .details {
                    font-size: 14px;
                    margin: 0;

                    // transition: color 0.3s ease-in-out; // Add transition for details
            
                    &.Online {
             
                        color: green;
                    }
            
                    &.Offline {
      
                        color: #4d4d4d;
                    }
                }
            }
        }
    }

        .messages__container {
            flex: 1; 
            overflow-y: auto; 
            margin-bottom: 10px; 
            padding: 10px;
            background-color: white; 


            .messages__inner {
                flex:1;
                min-height: 100%;
                // border: 1px solid rgba(205, 89, 255, 1);
                align-content: flex-end;

                .seen__container {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: flex-end;
                    font-style: oblique;
                    
                        span, p {
                            color : black;
                            margin-right: 12px;
                            
                        }
    
                    }


                .date-container {
                    color: black;
                    .date-notify{
                        display: flex;
                        // border: 2px solid green;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        .title-date {
                            padding:7px;
                            border-radius: 5px;
                            // background-color: #4d4d4d;
                            
                        }
                    }
                }
  
            }

            
            // .end-ref {
            //     height: 8px;
            // }
         
        }

        .input__container {
            
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            position: relative;
            margin-bottom: 10px;
            align-items: center;
            // border-top: 1px solid rgba(158, 66, 197, 0.8);
            // border-bottom-left-radius: 20px;
            // border-bottom-right-radius: 20px;

            .emoji-button {
                width: 30px;
                height: 30px;
                background-image: url('../components/images/icons8-smile-beam-32.png');
                background-repeat: no-repeat;
                background-size: contain;
                // border: 2px solid red;
                margin-left: 10px;
                &:hover {
                    cursor: pointer;
                }
            }

            .emoji-picker__container {
                // border: 2px solid red;
                position: absolute;
                bottom: 60px;
                left: 50px;

                input {
                    width: 95%;
                    padding: 20px;
                }

               
            }
            input {
                flex-grow: 1;
                height: 40px;
                padding-inline: 10px;
                margin-inline: 10px;
                border-radius: 5px;
                background-color: #f5f6fa;
                border: 0;
                color: black;

                &:hover {
                    cursor:text;
                }

                // &:focus {
                //     border: none;
                //     outline: none;
                // }
            }

            #send-button {
                width: 40px;
                height: 40px;
                margin-inline: 20px;
                background-image: url('../components/svg/send-alt-svgrepo-com.svg');
                background-repeat: no-repeat;
                background-size: contain;
                transition: all .2s ease-in-out;
      

                &:hover {
                    cursor: pointer;
                    transform:scale(0.9);
                }
     
                // background: none;

            }
        }

    

}


