.main__left-navigation-content {
    display: flex;
    flex-direction: row;
    padding-block: 5px;
.navigation-panel__container  {
    width: 65px;
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    box-sizing: border-box;
    margin-left: 5px;
    color: white;
    font-size: 0.6rem;
    height: 100%;
    margin-right: 10px;
    align-self: center;
    border-radius: 10px;
    background-color: rgb(22, 23, 27);
    border: 1px solid rgba(140, 122, 230, 1);
    justify-content: space-between;
    align-items: center;
    position: relative;

    .nav__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img {
            width: calc(100% - 30px);
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .icon-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            // border: 1px solid green;
            padding:0;
            margin-block: 10px;
            
        .links {
            display: flex;
            flex-direction: row;
            // border: 1px solid blue;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            flex-grow: 1;
            padding: 10px;
            transition: all 0.2s ease-in-out;
            color: #9E9E9E;
            position: relative;

            &:hover {
                background-color:rgba(140, 122, 230, 0.6);
                transform: scale(0.97);
                color: white;                
                cursor: pointer;

                .line.active{
                    transform: scale(1.03);
                    opacity: 0;
            
                }

            }
            
            .line {
                pointer-events: none;
                position: absolute;

                
                
                
            }
        
            // .line.active {
            //     border: 1px solid rgba(140, 122, 230, 0.6);
            //     width: 1px;
            //     height: 80%;
            //     border-radius: 10px;
            //     background-color: #8c7ae6;
            //     position: absolute;
            //     left: -1px;
            //     opacity: 1;
            //     transition: all 0.2s ease-in-out;
            // }

            
            .nav-icons {
                font-size: 1.3rem;
            }
        }

        .links.active {
            // background-color:rgb(140, 122, 230);
            // color: white;
            color: rgb(140, 122, 230);
            &:hover {
                color: white;
            }
            // border: 3px solid rgba(140, 122, 230, 0.6);
        }
        .line.active {
            border: 1px solid rgba(140, 122, 230, 0.6);
            width: 60%;
            height: 1px;
            border-radius: 10px;
            background-color: #8c7ae6;
            position: absolute;
            bottom: 0;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }

        .notification_length {
            position: absolute;
            top: -5px;
            left: 60%;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px;
            aspect-ratio: 1/1;
            background-color: #1975d1;
            border: 4px solid rgb(22, 23, 27);
            p {
                align-self: center;
            }
        }
    }

        


        
    }

    #logout-icon {
        font-size: 1.5rem;
        color: rgba(140, 122, 230, 1);

        &:hover {
            transform: scale(0.95);               
            cursor: pointer;
            
        }
    }
}

.notif_container {
    // border: 1px solid blue;
    width: 400px;
    height: 100%;
    position: absolute;
    left: 80px;
    top: 0;
    background-color: rgb(15, 16, 19);
    z-index: 9999;
    border: 1px solid #2e2e2e;
    border-radius: 10px;
}
}