.notifications__container{
    // border: 1px solid black
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    // background-color: #23262D;
    border-radius: 10px;
    margin-inline: 10px;
    margin-top: 10px;
    padding: 20px;
    color: white;
    font-size: 0.8rem;
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    h3 {
        color:white;
    }
        .notification-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            // border: 1px solid red;

            .notification__tabs {
                display: flex;
                justify-content: flex-start;
                h3{
                    margin-inline: 10px;
                }
            }
        }
    .notification__content {
        height: auto;
        display: flex;
        flex-direction: column;

        .request__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            // border: 2px solid black;
            margin-block: 5px;

            .time__header {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 5px;
            }

            .request__action-buttons {
                display: inline;
                margin-top: 10px;
                button {
                    margin-right: 10px;
                }
            }

        }
    }
}