*::-webkit-scrollbar-thumb {
    background-color: #9c88ff;

  }

.posts__component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    // border: 1px solid red;
    // margin-top: 80px;
    // width: 100%;
    width: 800px;
    // margin-left: 0px;
    padding: 20px;
.posts__container {
    // flex-grow: 1;
    width: 750px;
    height: 100%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // padding: 20px;
    font-size: 0.9rem;
    color: white;
    // position: relative;

    h1 {
        margin-block: 7px;
    }

    .input-container {
        // border: 2px solid green;
        // outline: 1px solid rgba(100, 136, 234, 1);
        margin-top: 20px;
        // border: 2px solid #8c7ae6;
        margin-bottom: 10px;
        padding: 30px;
        margin: 20px;
        background-color:#2e323e; //lighter
        border-radius: 10px;

        .top__header {
            // border: 2px solid pink;
            display: flex;
            padding-inline: 10px;
            align-items: center;
            img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                margin-right: 10px;
                object-fit: cover;
            }
              textarea {
                flex-grow: 1;
                resize: none;
                padding: 10px;
                height: 30px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            .image-preview {
                max-height: 100px;
                max-width: 150px;
                object-fit: contain;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 10px;
                }
            }
        }
        .posts__action-buttons {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            padding-inline: 10px;
            margin-top: 5px;

            .action__options {
                select {
                    margin-right: 6px;
                }
            }

            button {
                width: 60px;
                height: 20px;
            }
        }
    }
    .post__entries {
        // border: 2px solid red;
        // background-color: white;
        // background-color: #1b1b1c;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        border-radius: 15px;
        padding: 20px;

        &::-webkit-scrollbar {
            width: 7px;
            display: flex;
        }
          &::-webkit-scrollbar-thumb {
              border-radius: 10px;
            }

        .post-entry {
            display: flex;
            flex-direction: column;
            width: 100%;
            // min-width: 70%;
            // border: 1px solid #8c7ae6;
            border-radius: 10px;
            // padding: 20px;
            // background-color: rgb(24, 26, 30); //darker
            // background-color:#20232b; //lighter
            background-color: #1d2027; // darker
            // border: 1px solid rgba(140, 122, 230, 0.6);
            margin-block: 10px;
            // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

            .post-header {
                display: flex;
                padding-block: 20px;
                margin-inline: 20px;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
                // border-bottom: 1px solid rgba(109, 93, 212, 1);
                -webkit-box-shadow: 0 4px 6px -6px #222;
                -moz-box-shadow: 0 4px 6px -6px #222;
                box-shadow: 0 4px 6px -6px #222;

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-right: 15px;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }
                .header__title {
                    display: flex;
                    flex-grow: 1;
                    flex-direction: row;
                    justify-content: space-between;

                    .name-time {
                        display: flex;
                        flex-direction: column;

                        span{
                            font-size: 0.75rem;
                            color: grey;
                        }
                    }

                    h2:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }

                    .menu-dropdown {
                        transition: opacity 0.2s ease-in-out;
                        color: grey;
                        font-size: 1.2rem;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.5;
                        }
                    }
                }
            }
            .post__content {
                display: flex;
                flex-direction: column;
                white-space: pre-wrap;
                word-wrap: break-word;
                align-items: center;
                margin-bottom: 10px;
                // border: 2px solid red;

                .post-text {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: flex-start;
                    // border: 1px solid blue;
                    &:hover {
                        cursor: pointer;
                    }
                    
                    p {
                        padding: 10px;
                        margin-left: 10px;
                        border-radius: 5px;
                        // background-color: white;
                    }
                }

                .image-container {
                    width: 100%;            
                    height: 0;                
                    padding-top: 80%;        
                    position: relative;
                    overflow: hidden;      
            
                
                    img {
                        position: absolute;   
                        top: 50%;             
                        left: 50%;        
                        width: 100%;
                        height: 100%;
                        object-fit: cover;    
                        transform: translate(-50%, -50%);
                        
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            
            }
            .post__action-stats {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding-inline: 50px;
                padding-block: 3px;
                margin-bottom: 5px;
                flex-grow: 1;
                img {
                    width: 25px;
                    margin-right: 5px;
                }
                p {
                    &:hover {
                        cursor: pointer;
                    }
                }
                .likes-wrapper, .comments-wrapper {
                    display: flex;
                    align-items: center;
                    // border: 1px solid red;
                    margin-right: 20px;
                    img {
                        width: 25px;
                    }
                    span {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .post__action-buttons {
                display: flex;
                border-top: 1px solid rgba(140, 122, 230, 1);
                border-bottom: 1px solid rgba(140, 122, 230, 1);
                width: calc(100% - 20px);
                margin-bottom: 30px;
                padding-block: 7px;
                // border-radius: 5px;
                flex-direction: row;
                justify-content: space-evenly;
                // padding-inline: 15px;
                // background-color: white;
                align-self: center;
                p {
                    // flex-grow: 1;
                    width: 20%;
                    padding: 3px;
                    margin-inline: 10px;
                    text-align: center;
                    border-radius: 5px;
                    // outline: 1px solid black;
                    // border: 1px solid black;
                    &:hover {
                        cursor: pointer;
                        // background-color: rgba(140, 122, 230, 0.6);
                        color: rgba(140, 122, 230, 1);
                    }
                }
                img {
                    width: 25px;
                    margin-inline: 10px;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }

            .comment-p_container {
                // border: 2px solid blue;
                max-height: 500px;
            }
        }  
    }

    .loading {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.post-icon-group {
    color: grey;
    font-size: 1.8rem;
}
}