
.profile__background {
    width: 100%;
    height: 100%;
    // border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(21, 23, 27);
    // transition: opacity 0.5s ease-in-out;
    
.profile__page {
    min-width: auto;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: black;
    overflow-y: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    &::-webkit-scrollbar {
        width: 10px;
        display: none;
      }

    .profile__view {
        display: flex;
        flex-direction: column;
        align-items: center;
        // align-items: center;
        width: calc(100% - 15%);
        max-inline-size: 95%;
        height: 100%;
        position: relative;
        // border: 2px solid pink;
        // border-left: 1px solid blue;
        // border-right: 1px solid blue;

    .header__banner {
        // border: 2px solid black;
        background-color: #121212;
        position: relative;
        width: 100%;
        height: 250px;
        aspect-ratio: 16 / 9;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        .profile-header {
            display: flex;
            flex-direction: row;
            margin-top: 200px;
            height: auto;
            width: 100%;
            // border-radius: 15px;
            box-sizing: border-box;
            position: relative;
            // border: 1px solid pink;
            padding-bottom: 25px;
            // border-bottom: 2px solid rgba(109, 93, 212, 0.3);

        .avatar__container {
            width: 120px;
            height: 120px;
            // border: 2px solid rgba(205, 89, 255, 0.8);
            margin-inline: 30px;
            // border-radius: 50%;
            // border: 2px solid blue;
            position: relative;
            aspect-ratio: 1/1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 5px solid rgb(21, 23, 27);
            }

            .status {
                width: 25px;
                height: 25px;
                // border: 2px solid red;
                // background-color: #b3a6ff;
                display: none;
                position: absolute;
                right: 0px;
                bottom: -10px;
                border-radius: 50%;
      
                border: 5px solid rgb(21, 23, 27);
            }

            .status.Online {
                display: flex;
                background-color: green;
                // border: 2px solid green;

            }

            .status.Offline {
                display: flex;
                background-color: #323232;
                border: 5px solid rgb(21, 23, 27);

            }
        }
.header__container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
    height: auto;

        .header__text {
            display: flex;
            flex-direction: row;
            // border: 1px solid pink;
            font-size: 0.9rem;
            color: white;
            justify-content: space-between;
            align-items: center;
            padding-right: 20px;
            margin-bottom: 25px;
            .edit-profile-button {
                width: auto;
                height: 30px;
                margin-inline: 10px;
                background-color: #121212;
                text-transform: none;
            }
            .profile__action-buttons {
                // border: 2px solid green;
                display: flex;
                flex-direction: row;
                align-items: center;

                .send-message-button {
                    margin-right: 10px;
                    width: auto;
                    font-size: 0.8rem;
                    text-transform: none;
                    color:rgba(154, 134, 253, 1);
                    border-color:rgba(154, 134, 253, 1);
                    &:hover {
                        opacity: 0.8;
                    }
                }
                p {
                    display: flex;
                    align-items: center;
                    margin-inline: 10px;
                    font-size: 1rem;
                .isFriend {
                    color: rgba(154, 134, 253, 1);
                    font-size: 1.5rem;
                    margin-left: 5px;
                }
            }

            }
   
        }
    }
    }
    // .profile-header::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     width: 95%;
    //     height: 2px; 
    //     background-color: rgba(128, 0, 128, 0.7);
    //     transform: translateX(-50%);


    // }
}

.profile-links {
    display: flex;
    width: 100%;
    // border: 2px solid red;
    margin-top: 110px;
    padding: 10px 10px 30px 10px;
    color: white;
    border-bottom: 2px solid rgba(109, 93, 212, 1);
    font-size: 0.85rem;

    p {
        margin-right: 10px;
        padding-inline: 15px;
        padding-block: 7px;
        text-align: center;
        background-color: #23262D;
        border-radius: 15px;

        &:hover {
            cursor: pointer;
        }
    }
}
.profile-contents {
    // border: 2px solid black;
    border-radius: 15px;
    height: auto;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    // overflow-y: auto;
    box-sizing: border-box;
    .main__left {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-width: 40%;
        margin-right: 15px;
        padding-block: 10px;
        position: sticky; 
        top: 20px;
        max-height: calc(100vh - 40px);
        // border: 2px solid red;

    .profile-bio {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: #23262D;
        font-size: 0.85rem;
        // background-color: white;
        border: 1px solid #2f3640;
        border-radius: 10px;
        // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        h3 {
            margin-bottom: 10px;
            color: white;
            
        }
        p {
            border-radius: 5px;
            color: white;
        }
    }
}
.main__right {
    flex-grow: 1;
    
}
}
        .user-profile__details {
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: center;
            margin-inline: 20px;
            border: 2px solid red;
            
            p {
                font-size: 16px;
                margin-block: 5px;
            }

            .profile-details {
                // border: 2px solid green;
                margin:10px;
            }

            button {
                margin-top: 20px;
                height: 35px;
                transition: all 0.2s ease-in-out;
                border-radius: 10px;

                &:hover {
                    transform: scale(0.98);
                    cursor: pointer;
                }
            }
        }
    }

    .edit-profile__view {
        width: calc(100% - 15%);
        display: flex;
        height: 100%;
        // overflow-y: auto;
        flex-direction: column;
        color: white;
        // border: 2px solid green;

        .edit__header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
            color: white;

            .close {
                font-size: 0.8rem;
            }
        }
        .edit__container {
            background-color: #1d2027;
            margin-block: 20px;
            border-radius: 10px;
            flex-grow: 1;
            padding: 30px;

        .edit-avatar {
            flex-grow: 1;
            border-radius: 15px;
            border: 1px solid #878787;
            padding: 20px;
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;

            .avatar-container {
                width: 130px;
                height: 130px;
                margin-inline: 40px;
                aspect-ratio: 1/1;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .upload-profile {
                display: flex;
                flex-direction: column;          
                // border: 1px solid green;
                color: grey;
                font-size: 0.6rem;


                .upload {
                    font-size: 0.8rem;
                    margin-block: 20px;
                    width: auto;
                }

                .upload-button {
                    margin-block: 20px;
                    background-color: #1557d1;
                }
            }
        }

        .user-profile__details{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // border: 2px solid red;
            padding-inline: 20px;
            h4 {
                margin-block: 8px;
            }
            // .image-crop-preview {
            //     object-fit: contain;
            //     width: 100%;
            //     height: 100%;
            //     border: 2px solid green;

            //     img {
            //         width: 100%;
            //         height: 100%;
            //         object-fit: contain;
            //     }

            // }
            
        }

        .edit-buttons__container {
            flex-grow: 1;
            // border: 2px solid pink;
            padding-inline: 20px;
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
}

.profile-panel__container {
    width: calc(35vw - 10%);
    // padding: 10px;
    // background-color: rgb(33, 36, 42);
    background-color: #1d2027; // darker
    // border-left: 1px solid rgba(140, 122, 230, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

&.active {
    opacity: 1;
}
}