.search-user__container {
    width: 650px;
    height: 90%;
    border: 1px solid rgba(205, 89, 255, 0.8);
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

    h1{
        margin-block: 30px;
    }

.search-form__container{
    display: flex;
    width: 90%;
    // border: 2px solid green;
    margin-inline: 20px;
    flex-direction: row;

    input {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        margin-right: 20px;
        background-color: white;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        border: 1px solid #DDDDDD;
        padding-left: 10px;
        border-color: transparent;
        border: 1px solid rgba(117, 7, 168,1 );
        background: transparent;
        color: white;
      }

    input:focus {
        box-shadow: 0 0 5px rgb(117, 7, 168);
        // padding: 3px 0px 3px 3px;
        // margin: 5px 1px 3px 0px;
        border: 2px solid rgba(117, 7, 168,1 );
      }
}

.searched-user__box {
    // border: 2px solid green;
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-block: 20px;
    padding: 10px;
    .searched-user__profile {
        width: 100px;
        height: 100px;
        border: 1px solid white;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            
        }
    }
    .searched-user__view {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        margin-left: 20px;

        .searched-dp {
            width: auto;
            // border: 2px solid black;
        }
        .searched-view {

            width: 300px;
            // border: 2px solid white;
            display: flex;
            justify-content: end;
            margin-right: 20px;

        #view-user {
            width: 50px;
            height: 50px;
            // border: 2px solid black;
            margin-left: 20px;
            background-image: url('../components/svg/view-alt-1-svgrepo-com.svg');
            background-size: contain;
            background-repeat: no-repeat;
            transition: all .2s ease-in-out;


            &:hover {
                cursor: pointer;
                transform: scale(0.90)
            }

        }
    }
    }
}

.searched-user__view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
.profile-view__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .view-user__profile {
        width: 350px;
        height: 350px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            
        }
    }
    .view-user__details {
        width: 500px;
        // border:2px solid green;
    }

    .search-buttons__container {
        width: 100%;
        // border: 2px solid pink;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}

}
}