* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.home {
  background-color: #252525;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Pixelify";
  src: local("Pixelify"), url("../components/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Exo";
  src: local("Exo"), url("../components/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}
.login-register {
  width: 100vw;
  height: 100vh;
  background-image: url("../components/svg/6849656_3422670.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.login-register button {
  width: 100px;
  height: 100px;
}
.login-register .banner {
  padding-left: 30px;
  padding-top: 20px;
}
.login-register .banner .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-register .banner .logo-container .logo {
  width: 90px;
  height: 90px;
  background-image: url(../components/svg/discord-alt-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login-register .banner .logo-container h1 {
  font-family: Pixelify;
  color: purple;
  font-size: 70px;
  background: linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px black;
  text-shadow: 2px 2px black;
}
.login-register .login-form__container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 60px;
}
.login-register .login-form__container .form__container {
  width: 45%;
  height: auto;
  border: 2px solid;
  margin-left: 60px;
  background-color: rgba(24, 24, 24, 0.85);
  border-radius: 30px;
  box-shadow: rgba(44, 1, 48, 0.25) 0px 54px 55px, rgba(31, 1, 34, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-color: rgb(82, 23, 138);
  margin: 50px;
  padding-left: 50px;
  padding-top: 30px;
}
.login-register .login-form__container .form__container h1 {
  font-family: Exo;
  font-weight: 100;
  color: white;
  font-size: 50px;
  text-shadow: 8px 8px black;
  margin-bottom: 15px;
}
.login-register .login-form__container .form__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 75%;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.login-register .login-form__container .form__container form p {
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin-bottom: 30px;
}
.login-register .login-form__container .form__container form label, .login-register .login-form__container .form__container form input {
  margin-block: 10px;
}
.login-register .login-form__container .form__container form input {
  height: 35px;
  border-radius: 8px;
}
.login-register .login-form__container .form__container form input[type=text], .login-register .login-form__container .form__container form input[type=email] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  padding-left: 10px;
  border-color: transparent;
  border-bottom: 1px solid rgb(117, 7, 168);
  border-right: 1px solid rgb(117, 7, 168);
  background: transparent;
  color: white;
}
.login-register .login-form__container .form__container form input[type=text]:focus, .login-register .login-form__container .form__container form input[type=email]:focus {
  box-shadow: 0 0 5px rgb(117, 7, 168);
  border: 2px solid rgb(117, 7, 168);
}
.login-register .login-form__container .form__container form input[type=submit] {
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;
}
.login-register .login-form__container .form__container form .form__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.login-register .login-form__container .form__container form .form__footer button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-right: 15px;
  background-color: rgb(161, 84, 233);
  border: none;
  font-family: Pixelify;
  color: black;
  font-size: 20px;
}
.login-register .login-form__container .form__container form .form__footer button:hover {
  cursor: pointer;
}
.login-register .login-form__container .form__container form .form__footer p {
  margin-inline: 5px;
  font-size: 16px;
  margin-top: 25px;
}
.login-register .login-form__container .form__container form .form__footer #text-state {
  color: rgb(161, 84, 233);
}
.login-register .login-form__container .form__container form .form__footer #text-state:hover {
  cursor: pointer;
  color: rgba(161, 84, 233, 0.8);
}
.login-register .form__side-text {
  font-family: Pixelify;
  width: 50%;
}

.home__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__container .main__menu {
  width: 95%;
  height: 90%;
  outline: 2px solid black;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: #494848;
}
.home__container .main__menu .side-menu__bar {
  width: 10%;
  height: 100%;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__container .main__menu .side-menu__bar .side-bar__icon {
  width: 50px;
  height: 50px;
  margin-block: 10px;
  outline: 2px solid black;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.home__container .main__menu .side-menu__bar .side-bar__icon:hover {
  cursor: pointer;
  transform: scale(0.95);
}
.home__container .main__menu .side-menu__bar #profile__icon {
  background-image: url("../components/images/user-profile-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.home__container .main__menu .side-menu__bar #add-friend__icon {
  background-image: url("../components/images/add-friend-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.home__container .main__menu .side-menu__bar button {
  width: 50px;
  height: 50px;
  margin-block: 10px;
}
.home__container .main__menu .chat-list__container {
  width: 70%;
  height: 100%;
}
.home__container .main__menu .chat__container {
  width: 100%;
  height: 100%;
}

.profile__page {
  width: 70%;
  height: 100%;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__page .user-profile__details {
  display: flex;
  flex-direction: column;
}

.search-user__container {
  width: 70%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */