* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f5f6fa;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}
.home .loading {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.home .loading::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #7e00e6 transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Pixelify";
  src: local("Pixelify"), url("../components/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Exo";
  src: local("Exo"), url("../components/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}
.login-register {
  width: 100%;
  height: 100%;
  background-image: url("../components/svg/6849656_3422670.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.login-register button {
  width: 100px;
  height: 100px;
}
.login-register .banner {
  padding-left: 30px;
  padding-top: 20px;
}
.login-register .banner .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-register .banner .logo-container .logo {
  width: 90px;
  height: 90px;
  background-image: url(../components/svg/discord-alt-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login-register .banner .logo-container h1 {
  font-family: Pixelify;
  color: purple;
  font-size: 70px;
  background: linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px black;
  text-shadow: 2px 2px black;
}
.login-register .login-form__container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 60px;
}
.login-register .login-form__container .form__container {
  width: 45%;
  height: auto;
  border: 2px solid;
  margin-left: 60px;
  background-color: rgba(24, 24, 24, 0.85);
  border-radius: 30px;
  box-shadow: rgba(44, 1, 48, 0.25) 0px 54px 55px, rgba(31, 1, 34, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-color: rgb(82, 23, 138);
  margin: 50px;
  padding-left: 50px;
  padding-top: 30px;
}
.login-register .login-form__container .form__container h1 {
  font-family: Exo;
  font-weight: 100;
  color: white;
  font-size: 3em;
  text-shadow: 8px 8px black;
  margin-bottom: 15px;
}
.login-register .login-form__container .form__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 75%;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.login-register .login-form__container .form__container form p {
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin-bottom: 30px;
}
.login-register .login-form__container .form__container form label, .login-register .login-form__container .form__container form input {
  margin-block: 10px;
}
.login-register .login-form__container .form__container form input {
  height: 35px;
  border-radius: 8px;
}
.login-register .login-form__container .form__container form input[type=text], .login-register .login-form__container .form__container form input[type=email] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  padding-left: 10px;
  border-color: transparent;
  border-bottom: 1px solid rgb(117, 7, 168);
  border-right: 1px solid rgb(117, 7, 168);
  background: transparent;
  color: white;
}
.login-register .login-form__container .form__container form input[type=text]:focus, .login-register .login-form__container .form__container form input[type=email]:focus {
  box-shadow: 0 0 5px rgb(117, 7, 168);
  border: 2px solid rgb(117, 7, 168);
}
.login-register .login-form__container .form__container form input[type=submit] {
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;
}
.login-register .login-form__container .form__container form .form__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.login-register .login-form__container .form__container form .form__footer button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-right: 15px;
  background-color: rgb(161, 84, 233);
  border: none;
  font-family: Pixelify;
  color: black;
  font-size: 20px;
}
.login-register .login-form__container .form__container form .form__footer button:hover {
  cursor: pointer;
}
.login-register .login-form__container .form__container form .form__footer p {
  margin-inline: 5px;
  font-size: 16px;
  margin-top: 25px;
}
.login-register .login-form__container .form__container form .form__footer #text-state {
  color: rgb(161, 84, 233);
}
.login-register .login-form__container .form__container form .form__footer #text-state:hover {
  cursor: pointer;
  color: rgba(161, 84, 233, 0.8);
}
.login-register .form__side-text {
  font-family: Pixelify;
  width: 50%;
}

@font-face {
  font-family: "Pixelify";
  src: local("Pixelify"), url("../components/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}
.home__container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Pixelify;
  position: relative;
}
.home__container .side-menu__bar {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fa;
  justify-content: space-between;
}
.home__container .side-menu__bar .side-bar__top {
  text-align: center;
}
.home__container .side-menu__bar .side-bar__top #side-bar__header {
  font-size: 16px;
  margin-block: 20px;
  margin-inline: 1em;
  color: #7e00e6;
}
.home__container .side-menu__bar .side-bar__top #side-bar__header:hover {
  cursor: pointer;
}
.home__container .side-menu__bar .side-bar__top .side-bar__icon {
  width: 45px;
  height: 45px;
  margin-top: 30px;
  margin-inline: 1em;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.home__container .side-menu__bar .side-bar__top .side-bar__icon:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.home__container .side-menu__bar .side-bar__top .side-bar__icon.active {
  background-color: #1f1f1f;
  transform: scale(1.1);
}
.home__container .side-menu__bar .side-bar__top #profile__icon {
  background-image: url("../components/images/user-profile-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.home__container .side-menu__bar .side-bar__top #add-friend__icon {
  background-image: url("../components/images/add-friend-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.home__container .side-menu__bar .groupchat__list {
  flex-grow: 1;
  overflow-y: auto;
  margin-block: 5px;
}
.home__container .side-menu__bar #logout__icon {
  width: 40px;
  height: 40px;
  background-image: url("../components/svg/logout-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}
.home__container .side-menu__bar #logout__icon:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.home__container .side-menu__bar button {
  width: 50px;
  height: 50px;
  margin-block: 10px;
}
.home__container .chat-list-container {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  width: 100%;
  height: 100%;
}
.home__container .chat-list-container.hidden {
  opacity: 0;
}

.profile__background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.profile__background .profile__page {
  min-width: auto;
  width: calc(80% - 100px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fa;
  color: black;
  margin-left: 10px;
  background-color: white;
  overflow-y: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile__background .profile__page::-webkit-scrollbar {
  width: 10px;
  display: none;
}
.profile__background .profile__page .profile__view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 100px);
  height: 100%;
  position: relative;
}
.profile__background .profile__page .profile__view .header__banner {
  background-color: #121212;
  position: relative;
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile__background .profile__page .profile__view .header__banner .profile-header {
  display: flex;
  flex-direction: row;
  margin-top: 180px;
  height: auto;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  position: relative;
}
.profile__background .profile__page .profile__view .header__banner .profile-header .avatar__container {
  width: 150px;
  height: 150px;
  margin-inline: 30px;
  position: relative;
}
.profile__background .profile__page .profile__view .header__banner .profile-header .avatar__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #f5f6fa;
}
.profile__background .profile__page .profile__view .header__banner .profile-header .avatar__container .status {
  width: 30px;
  height: 30px;
  display: none;
  position: absolute;
  right: 0px;
  bottom: -10px;
  border-radius: 50%;
  border: 5px solid #f5f6fa;
}
.profile__background .profile__page .profile__view .header__banner .profile-header .avatar__container .status.Online {
  display: flex;
  background-color: green;
}
.profile__background .profile__page .profile__view .header__banner .profile-header .avatar__container .status.Offline {
  display: flex;
  background-color: white;
  box-shadow: inset 0px 0px 0px 10px rgb(31, 31, 31);
}
.profile__background .profile__page .profile__view .header__banner .profile-header .header__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
  height: auto;
}
.profile__background .profile__page .profile__view .header__banner .profile-header .header__container .header__text {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 25px;
}
.profile__background .profile__page .profile__view .header__banner .profile-header .header__container .header__text button {
  width: 80px;
  height: 30px;
  margin-inline: 10px;
}
.profile__background .profile__page .profile__view .header__banner .profile-header .header__container .header__text .profile__action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile__background .profile__page .profile__view .profile-contents {
  border-radius: 15px;
  height: auto;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile__background .profile__page .profile__view .profile-contents .main__left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-inline: 15px;
}
.profile__background .profile__page .profile__view .profile-contents .main__left .profile-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #dcdde1;
  border-radius: 10px;
}
.profile__background .profile__page .profile__view .profile-contents .main__left .profile-bio h3 {
  margin-bottom: 10px;
}
.profile__background .profile__page .profile__view .profile-contents .main__left .profile-bio p {
  background-color: #dcdde1;
  border-radius: 5px;
  padding: 10px;
}
.profile__background .profile__page .profile__view .profile-contents .main__right {
  width: 60%;
}
.profile__background .profile__page .profile__view .user-profile__details {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin-inline: 20px;
}
.profile__background .profile__page .profile__view .user-profile__details p {
  font-size: 16px;
  margin-block: 5px;
}
.profile__background .profile__page .profile__view .user-profile__details .profile-details {
  margin: 10px;
}
.profile__background .profile__page .profile__view .user-profile__details button {
  margin-top: 20px;
  height: 35px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
.profile__background .profile__page .profile__view .user-profile__details button:hover {
  transform: scale(0.98);
  cursor: pointer;
}
.profile__background .profile__page .edit-profile__view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__background .profile__page .edit-profile__view .close-button {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.profile__background .profile__page .edit-profile__view .edit-avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.profile__background .profile__page .edit-profile__view .edit-avatar .avatar-container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.profile__background .profile__page .edit-profile__view .edit-avatar .avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile__background .profile__page .edit-profile__view .user-profile__details {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px;
}
.profile__background .profile__page .edit-profile__view .user-profile__details p {
  margin-block: 8px;
}
.profile__background .profile__page .edit-profile__view .edit-buttons__container {
  width: 600px;
  display: flex;
  justify-content: flex-start;
}
.profile__background .profile-panel__container {
  width: calc(35vw - 10%);
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.search-user__container {
  width: 650px;
  height: auto;
  border: 1px solid rgba(205, 89, 255, 0.8);
  z-index: 99;
  position: absolute;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.search-user__container h1 {
  margin-block: 30px;
}
.search-user__container .search-form__container {
  display: flex;
  width: 90%;
  margin-inline: 20px;
  margin-block: 30px;
  flex-direction: row;
}
.search-user__container .search-form__container input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  padding-left: 10px;
  border-color: transparent;
  border: 1px solid rgb(117, 7, 168);
  background: transparent;
  color: white;
}
.search-user__container .search-form__container input:focus {
  box-shadow: 0 0 5px rgb(117, 7, 168);
  border: 2px solid rgb(117, 7, 168);
}
.search-user__container .searched-user__box {
  width: 500px;
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  padding: 10px;
}
.search-user__container .searched-user__box .searched-user__profile {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
}
.search-user__container .searched-user__box .searched-user__profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.search-user__container .searched-user__box .searched-user__view {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin-left: 20px;
}
.search-user__container .searched-user__box .searched-user__view .searched-dp {
  width: auto;
}
.search-user__container .searched-user__box .searched-user__view .searched-view {
  width: 300px;
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.search-user__container .searched-user__box .searched-user__view .searched-view #view-user {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-image: url("../components/svg/view-alt-1-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.search-user__container .searched-user__box .searched-user__view .searched-view #view-user:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.search-user__container .searched-user__view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-user__container .searched-user__view .profile-view__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-user__container .searched-user__view .profile-view__container .view-user__profile {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.search-user__container .searched-user__view .profile-view__container .view-user__profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.search-user__container .searched-user__view .profile-view__container .view-user__details {
  width: 500px;
}
.search-user__container .searched-user__view .profile-view__container .search-buttons__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

*::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.chat-box__container {
  flex-grow: 1;
  height: 95%;
  border-radius: 14px;
  outline: 1px solid #2f3640;
  background-color: #f5f6fa;
  margin-inline: 30px;
  margin-block: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.chat-box__container *::-webkit-scrollbar-thumb {
  background-color: #718093;
  border-radius: 2px;
}
.chat-box__container h1 {
  color: black;
  width: 20em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.chat-box__container .chat__header {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.chat-box__container .chat__header .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chat-box__container .chat__header .chat__banner {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-color: white;
  border-bottom: 1px solid black;
}
.chat-box__container .chat__header .chat__banner .profile__card {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 25px;
}
.chat-box__container .chat__header .chat__banner .profile__card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.chat-box__container .chat__header .chat__banner .profile__card .status {
  width: 20px;
  height: 20px;
  display: none;
  position: relative;
  left: 45px;
  bottom: 35px;
  border-radius: 50%;
  background-color: #121212;
}
.chat-box__container .chat__header .chat__banner .profile__card .Offline, .chat-box__container .chat__header .chat__banner .profile__card .Online {
  display: flex;
  position: relative;
  bottom: 25px;
  left: 45px;
  width: 25px;
  height: 25px;
  background-color: #121212;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.chat-box__container .chat__header .chat__banner .profile__card .Offline .inner {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid grey;
}
.chat-box__container .chat__header .chat__banner .profile__card .Online .inner {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid green;
  background-color: green;
}
.chat-box__container .chat__header .chat__banner .header-details {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.chat-box__container .chat__header .chat__banner .header-details h1 {
  font-size: 18px;
}
.chat-box__container .chat__header .chat__banner .header-details .details {
  font-size: 14px;
  margin: 0;
}
.chat-box__container .chat__header .chat__banner .header-details .details.Online {
  color: green;
}
.chat-box__container .chat__header .chat__banner .header-details .details.Offline {
  color: #4d4d4d;
}
.chat-box__container .messages__container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
}
.chat-box__container .messages__container .messages__inner {
  flex: 1;
  min-height: 100%;
  align-content: flex-end;
}
.chat-box__container .messages__container .messages__inner .seen__container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  font-style: oblique;
}
.chat-box__container .messages__container .messages__inner .seen__container span, .chat-box__container .messages__container .messages__inner .seen__container p {
  color: black;
  margin-right: 12px;
}
.chat-box__container .messages__container .messages__inner .date-container {
  color: black;
}
.chat-box__container .messages__container .messages__inner .date-container .date-notify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.chat-box__container .messages__container .messages__inner .date-container .date-notify .title-date {
  padding: 7px;
  border-radius: 5px;
}
.chat-box__container .input__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 10px;
  align-items: center;
}
.chat-box__container .input__container .emoji-button {
  width: 30px;
  height: 30px;
  background-image: url("../components/images/icons8-smile-beam-32.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}
.chat-box__container .input__container .emoji-button:hover {
  cursor: pointer;
}
.chat-box__container .input__container .emoji-picker__container {
  position: absolute;
  bottom: 60px;
  left: 50px;
}
.chat-box__container .input__container .emoji-picker__container input {
  width: 95%;
  padding: 20px;
}
.chat-box__container .input__container input {
  flex-grow: 1;
  height: 40px;
  padding-inline: 10px;
  margin-inline: 10px;
  border-radius: 5px;
  background-color: #f5f6fa;
  border: 0;
  color: black;
}
.chat-box__container .input__container input:hover {
  cursor: text;
}
.chat-box__container .input__container #send-button {
  width: 40px;
  height: 40px;
  margin-inline: 20px;
  background-image: url("../components/svg/send-alt-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s ease-in-out;
}
.chat-box__container .input__container #send-button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.chat-card__container {
  width: 400px;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f6fa;
  margin-right: 10px;
}
.chat-card__container .chat__top {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.chat-card__container .chat__top h1, .chat-card__container .chat__top p {
  color: black;
  margin-inline: 10px;
}
.chat-card__container .chat__top .chat__header {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.chat-card__container .chat__top .chat__header img {
  width: 35px;
  margin-inline: 10px;
  transition: transform 0.1s ease-in-out;
}
.chat-card__container .chat__top .chat__header img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.chat-card__container .chat__top .chat__filter-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chat-card__container .chat__top .chat__filter-buttons p {
  padding: 5px;
  padding-inline: 10px;
  background-color: #dcdde1;
  border-radius: 15px;
}
.chat-card__container .chat__top .chat__filter-buttons p:hover {
  cursor: pointer;
  opacity: 0.7;
}
.chat-card__container .chatlist__container {
  width: 100%;
  max-height: 100%;
  padding-bottom: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.chat-card__container .chatlist__container .card__container {
  width: 90%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-content: center;
  border-radius: 5px;
}
.chat-card__container .chatlist__container .card__container:hover {
  cursor: pointer;
  opacity: 0.85;
  outline: 1px solid #2f3640;
}
.chat-card__container .chatlist__container .card__container > * {
  pointer-events: none;
}
.chat-card__container .chatlist__container .card__container .profile__card {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.chat-card__container .chatlist__container .card__container .profile__card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.chat-card__container .chatlist__container .card__container .profile__card .status {
  width: 20px;
  height: 20px;
  display: none;
  position: relative;
  left: 45px;
  bottom: 35px;
  border-radius: 50%;
  background-color: #121212;
}
.chat-card__container .chatlist__container .card__container .profile__card .Offline, .chat-card__container .chatlist__container .card__container .profile__card .Online {
  display: flex;
  position: relative;
  bottom: 25px;
  left: 45px;
  width: 25px;
  height: 25px;
  background-color: #121212;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.chat-card__container .chatlist__container .card__container .profile__card .Offline .inner {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid grey;
}
.chat-card__container .chatlist__container .card__container .profile__card .Online .inner {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid green;
  background-color: green;
}
.chat-card__container .chatlist__container .card__container h1 {
  font-size: 18px;
  color: black;
}
.chat-card__container .chatlist__container .card__container .inner-card {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 10px;
  width: 70%;
  justify-content: center;
}
.chat-card__container .chatlist__container .card__container .inner-card .card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
}
.chat-card__container .chatlist__container .card__container .inner-card .card-title .time-bar {
  display: flex;
  flex-direction: row;
}
.chat-card__container .chatlist__container .card__container .inner-card .card-title .time-bar p {
  color: black;
}
.chat-card__container .chatlist__container .card__container .inner-card .details__card {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chat-card__container .chatlist__container .card__container .inner-card .details__card span {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 0.7rem;
  background-color: white;
  text-align: center;
  border-radius: 50%;
}
.chat-card__container .chatlist__container .card__container .inner-card .details__card p {
  font-size: 16px;
  color: black;
  width: 14em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}
.chat-card__container .chatlist__container .card__container.false {
  background-color: #9c88ff;
  outline: 2px solid #8c7ae6;
  transition: outline 0.1s ease-in-out;
}
.chat-card__container .chatlist__container .card__container.false:hover {
  outline: 2px solid #8c7ae6;
}
.chat-card__container .chatlist__container .card__container.true {
  background-color: #f5f6fa;
}

.user-message, .message {
  color: black;
  width: auto;
  height: auto;
  display: flex;
  align-items: end;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-right: 10px;
}
.user-message .message_header, .message .message_header {
  margin-bottom: 5px;
}
.user-message .message_header #message__time-sent, .message .message_header #message__time-sent {
  font-size: 12px;
  margin-left: 5px;
}
.user-message .message-box, .message .message-box {
  display: flex;
  justify-content: flex-end;
}
.user-message .message-box p, .message .message-box p {
  padding-block: 6px;
  padding-inline: 15px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 15px;
  background-color: #8c7ae6;
  text-align: center;
}
.user-message .message-box .message-time, .message .message-box .message-time {
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: flex-end;
  font-size: 14px;
}

.message {
  align-items: start;
  padding-left: 10px;
}

.createGroupChat__modal {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid pink;
  background-color: aqua;
  position: absolute;
  z-index: 2;
}
.createGroupChat__modal .searched-user__box {
  border: 2px solid green;
  width: 250px;
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  padding: 10px;
  font-size: 14px;
}
.createGroupChat__modal .searched-user__box .searched-user__profile {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
}
.createGroupChat__modal .searched-user__box .searched-user__profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.createGroupChat__modal .searched-user__box .searched-user__view {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}
.createGroupChat__modal .searched-user__box .searched-user__view .searched-dp {
  width: 100%;
  border: 2px solid black;
}
.createGroupChat__modal .searched-user__box .searched-user__view .searched-view {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
}
.createGroupChat__modal .searched-user__box .searched-user__view .searched-view #view-user {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-image: url("../components/svg/view-alt-1-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.createGroupChat__modal .searched-user__box .searched-user__view .searched-view #view-user:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.groupchat__container {
  width: 55px;
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupchat__container:hover {
  cursor: pointer;
}
.groupchat__container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment-section {
  height: calc(100% - 100px);
  padding: 20px;
  border-radius: 15px;
  background-color: #f5f6fa;
  color: black;
  box-sizing: border-box;
}
.comment-section .comment-section-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}
.comment-section .comment-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.comment-section .comment-input-container textarea {
  padding: 5px;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  transition: outline 0.1s ease-in, background-color 0.1s ease-in, box-shadow 0.1s ease-in;
}
.comment-section .comment-input-container textarea:focus {
  outline: 2px solid #7e00e6;
  background-color: #f3f3f3;
  box-shadow: 0 0 5px rgba(126, 0, 230, 0.5);
}
.comment-section .comment-input-container .post__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.comment-section .comment-input-container .post__action .comment-profile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}
.comment-section .comment-input-container .post__action .comment-profile img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.comment-section .comment-input-container .post__action .comment-submit-btn {
  flex-grow: 1;
  padding: 10px;
  background-color: #7e00e6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  margin-inline: 10px;
}
.comment-section .comment-input-container .post__action .comment-submit-btn:hover {
  opacity: 0.8;
}
.comment-section .comment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100% - 190px);
  overflow-y: auto;
}
.comment-section .comment-list *::-webkit-scrollbar {
  width: 7px;
  display: none;
}
.comment-section .comment {
  display: flex;
  padding: 10px;
  background-color: #dcdde1;
  border-radius: 8px;
}
.comment-section .comment .comment-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-section .comment .comment-body .comment-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 4px;
}
.comment-section .comment .comment-body .comment-header .comment-author {
  font-weight: bold;
  color: black;
}
.comment-section .comment .comment-body .comment-header .comment-author:hover {
  cursor: pointer;
  text-decoration: underline;
}
.comment-section .comment .comment-body .comment-header .comment-time {
  color: #888;
  font-size: 0.8rem;
}
.comment-section .comment .comment-body .comment-profile {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid grey;
  margin-right: 10px;
  border-radius: 5px;
}
.comment-section .comment .comment-body .comment-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.comment-section .comment .comment-body .comment__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 150px;
  margin-inline: 10px;
}
.comment-section .comment .comment-body .comment__wrapper .comment-text__wrapper {
  width: 90%;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.comment-section .comment .comment-body .comment__wrapper .comment-text__wrapper .comment-text {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.comment-section .comment .comment-body .comment-actions {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 10px;
}
.comment-section .comment .comment-body .comment-actions .like-btn,
.comment-section .comment .comment-body .comment-actions .reply-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #7e00e6;
  font-size: 0.7rem;
}
.comment-section .comment .comment-body .comment-actions .like-btn:hover,
.comment-section .comment .comment-body .comment-actions .reply-btn:hover {
  text-decoration: underline;
}
.comment-section .comment .comment-body .comment-actions img {
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-out;
}
.comment-section .comment .comment-body .comment-actions img:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.notifications__container {
  display: flex;
  flex-direction: column;
  background-color: #f5f6fa;
  border-radius: 15px;
  padding: 20px;
  color: black;
  font-size: 0.8rem;
}
.notifications__container h3 {
  color: #7e00e6;
}
.notifications__container .notification-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.notifications__container .notification-header .notification__tabs {
  display: flex;
  justify-content: flex-start;
}
.notifications__container .notification-header .notification__tabs h3 {
  margin-inline: 10px;
}
.notifications__container .notification__content {
  height: auto;
  display: flex;
  flex-direction: column;
}
.notifications__container .notification__content .request__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 10px;
  border: 2px solid black;
  margin-block: 5px;
}
.notifications__container .notification__content .request__container .time__header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.notifications__container .notification__content .request__container .request__action-buttons {
  display: inline;
  margin-block: 10px;
}
.notifications__container .notification__content .request__container .request__action-buttons button {
  margin-right: 10px;
}

.friends-list__container {
  background-color: #f5f6fa;
  color: black;
  padding: 20px;
  border-radius: 15px;
  font-size: 0.8rem;
  width: calc(100% - 50px);
  margin-block: 20px;
}
.friends-list__container .friends-list__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  color: black;
  border-bottom: 2px solid #7e00e6;
}
.friends-list__container .friends-list__header h1 {
  margin-bottom: 10px;
}
.friends-list__container .friends__container {
  display: flex;
  flex-direction: rpw;
}
.friends-list__container .friends__container .friend {
  font-size: 0.6rem;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90px;
}
.friends-list__container .friends__container .friend p {
  width: 6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.friends-list__container .friends__container .friend .profile {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}
.friends-list__container .friends__container .friend .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.friends-list__container .friends__container .friend .profile img:hover {
  cursor: pointer;
  opacity: 0.9;
}

*::-webkit-scrollbar-thumb {
  background-color: #9c88ff;
}

.posts__container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
  font-size: 0.9rem;
}
.posts__container h1 {
  margin-block: 7px;
}
.posts__container .input-container {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 2px solid #8c7ae6;
  margin-bottom: 10px;
}
.posts__container .input-container .top__header {
  display: flex;
  padding-inline: 10px;
  align-items: center;
}
.posts__container .input-container .top__header img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.posts__container .input-container .top__header textarea {
  flex-grow: 1;
  padding: 10px;
  height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.posts__container .input-container .top__header .image-preview {
  max-height: 100px;
  max-width: 150px;
  object-fit: contain;
}
.posts__container .input-container .top__header .image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.posts__container .input-container .posts__action-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-inline: 10px;
  margin-top: 5px;
}
.posts__container .input-container .posts__action-buttons .action__options select {
  margin-right: 6px;
}
.posts__container .input-container .posts__action-buttons button {
  width: 60px;
  height: 20px;
}
.posts__container .post__entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 20px;
}
.posts__container .post__entries::-webkit-scrollbar {
  width: 7px;
  display: flex;
}
.posts__container .post__entries::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.posts__container .post__entries .post-entry {
  display: flex;
  flex-direction: column;
  width: 800px;
  border: 1px solid #8c7ae6;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-block: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.posts__container .post__entries .post-entry .post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.posts__container .post__entries .post-entry .post-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.posts__container .post__entries .post-entry .post-header .header__title {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}
.posts__container .post__entries .post-entry .post-header .header__title h2:hover {
  cursor: pointer;
  text-decoration: underline;
}
.posts__container .post__entries .post-entry .post__content {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
  align-items: center;
  margin-bottom: 10px;
}
.posts__container .post__entries .post-entry .post__content .post-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.posts__container .post__entries .post-entry .post__content .post-text p {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.posts__container .post__entries .post-entry .post__content .image-container {
  max-width: 80%;
  max-height: 100%;
  object-fit: contain;
}
.posts__container .post__entries .post-entry .post__content .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.posts__container .post__entries .post-entry .post__action-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 3px;
  margin-bottom: 5px;
  flex-grow: 1;
}
.posts__container .post__entries .post-entry .post__action-stats img {
  width: 25px;
}
.posts__container .post__entries .post-entry .post__action-stats p:hover {
  cursor: pointer;
}
.posts__container .post__entries .post-entry .post__action-stats .likes-wrapper {
  display: flex;
  align-items: center;
}
.posts__container .post__entries .post-entry .post__action-stats .likes-wrapper span:hover {
  text-decoration: underline;
}
.posts__container .post__entries .post-entry .post__action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-self: center;
}
.posts__container .post__entries .post-entry .post__action-buttons p {
  width: 20%;
  padding: 3px;
  margin-inline: 10px;
  text-align: center;
  border-radius: 5px;
}
.posts__container .post__entries .post-entry .post__action-buttons p:hover {
  cursor: pointer;
  background-color: #dcdde1;
}
.posts__container .post__entries .post-entry .post__action-buttons img {
  width: 25px;
  margin-inline: 10px;
}
.posts__container .post__entries .post-entry .post__action-buttons img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.posts__container .loading {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user__posts {
  flex-grow: 1;
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
}
.user__posts .post__entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.user__posts .post__entries .post-entry {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10px);
  border: 1px solid #8c7ae6;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-block: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.user__posts .post__entries .post-entry .post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  width: 100%;
}
.user__posts .post__entries .post-entry .post-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
}
.user__posts .post__entries .post-entry .post-header .header__title {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}
.user__posts .post__entries .post-entry .post__content {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
  align-items: center;
}
.user__posts .post__entries .post-entry .post__content .post-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.user__posts .post__entries .post-entry .post__content .post-text p {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.user__posts .post__entries .post-entry .post__content .image-container {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
.user__posts .post__entries .post-entry .post__content .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.user__posts .post__entries .post-entry .post__action-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 3px;
  margin-bottom: 5px;
  flex-grow: 1;
}
.user__posts .post__entries .post-entry .post__action-stats img {
  width: 25px;
}
.user__posts .post__entries .post-entry .post__action-stats p:hover {
  cursor: pointer;
}
.user__posts .post__entries .post-entry .post__action-stats .likes-wrapper {
  display: flex;
  align-items: center;
}
.user__posts .post__entries .post-entry .post__action-stats .likes-wrapper span:hover {
  text-decoration: underline;
}
.user__posts .post__entries .post-entry .post__action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-self: center;
}
.user__posts .post__entries .post-entry .post__action-buttons p {
  width: 20%;
  padding: 3px;
  margin-inline: 10px;
  text-align: center;
  border-radius: 5px;
}
.user__posts .post__entries .post-entry .post__action-buttons p:hover {
  cursor: pointer;
  background-color: #dcdde1;
}
.user__posts .post__entries .post-entry .post__action-buttons img {
  width: 25px;
  margin-inline: 10px;
}
.user__posts .post__entries .post-entry .post__action-buttons img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.user__posts .loading {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-comment__container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.post-comment__container .post__comment {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 242, 245);
  border-radius: 7px;
  padding-inline: 5px;
  max-height: 400px;
  overflow-y: auto;
}
.post-comment__container .post__comment .comment__container {
  display: flex;
  flex-direction: column;
}
.post-comment__container .post__comment .comment__container .post-comment__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-comment__container .post__comment .comment__container p, .post-comment__container .post__comment .comment__container h4 {
  padding: 5px;
  font-size: 0.8rem;
}
.post-comment__container .comment__input {
  flex-grow: 1;
  margin-top: 10px;
  display: flex;
}
.post-comment__container .comment__input textarea {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.post-comment__container .comment__input button {
  width: 40px;
}/*# sourceMappingURL=style.css.map */