* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.home {
    // background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #1B1D21;
    // background-image: url('../components/svg/polygon-scatter-haikei.svg');
    // // background-position: bottom;
    // // background-repeat: repeat-y;
    // background-size: contain;
    overflow-y: hidden;
    overflow-x: hidden;
    .loading {
        width: 48px;
        height: 48px;
        border: 3px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loading::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 3px solid;
        border-color: #7e00e6 transparent;
      }
      
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 
}


@import './login';
@import './home';
@import './profile';
@import './searchUser';
@import './chat';
@import './chatList';
@import './chatMessage';
@import './createGroupChat';
@import './groupList';
@import './profileComments';
@import './notifications';
@import './friendslist';
@import './Posts';
@import './profilePosts';
@import './postComments';
@import './fullscreenPost';
@import './chatInfo';
@import './Photos';